body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.titulo {
    color: #ff5858;
    font-family: "Audiowide", sans-serif;
    font-size: 100px;
    margin-top: 20%;

}

.subtitulo {
    color: #ffffff;
    font-family: "Audiowide", sans-serif;

}

.background {
    background-image: url('5471985.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;

}
.titulo2 {
    color: #ff5858;
    font-family: "Audiowide", sans-serif;
    font-size: 100px;
    margin-top: 15%;

}